<section class="table-toolbar mb-2">
  <div class="toolbar-row">
    <div class="toolbar-item toolbar-global">
      <input
        id="globalFilterInput"
        type="text"
        class="form-control form-control-sm"
        placeholder="Global filter..."
        [(ngModel)]="globalFilter"
        (ngModelChange)="onFiltersChanged()"
      />
    </div>
    <div class="toolbar-item toolbar-visibility">
      <p-multiselect
        inputId="columnVisibility"
        [options]="columnVisibilityOptions"
        [showToggleAll]="true"
        [display]="'chip'"
        [filter]="true"
        [appendTo]="'body'"
        [maxSelectedLabels]="2"
        placeholder="Columns"
        [(ngModel)]="visibleColumnKeys"
        (onChange)="onColumnVisibilityChange()"
      />
    </div>
    <div class="toolbar-item toolbar-actions">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="clearFilters()">Reset</button>
    </div>
  </div>
</section>

<section class="card shadow-sm">
  <div class="card-body p-0">
    <p-table
      [value]="filteredRows"
      [columns]="visibleColumns"
      [paginator]="true"
      [rows]="25"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [sortMode]="'multiple'"
      [reorderableColumns]="true"
      [scrollable]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} rows"
      scrollHeight="70vh"
      (onColReorder)="onColumnReorder($event)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr class="columns-row">
          <th
            *ngFor="let column of columns"
            scope="col"
            [pSortableColumn]="column.key"
            pReorderableColumn
            class="header-cell"
          >
            <div class="header-content">
              <span>{{ column.label }}</span>
              <p-sortIcon [field]="column.key" />
            </div>
          </th>
        </tr>
        <tr class="filters-row">
          <th *ngFor="let column of columns" scope="col" class="filter-header-cell">
            <ng-container [ngSwitch]="column.filterType">
              <input
                *ngSwitchCase="'text'"
                type="text"
                class="form-control form-control-sm header-filter-input"
                placeholder="Contains..."
                [ngModel]="getTextFilter(column.key)"
                (ngModelChange)="setTextFilter(column.key, $event)"
              />

              <p-multiselect
                *ngSwitchCase="'select'"
                [options]="getFilterOptions(column.key)"
                [filter]="true"
                [showToggleAll]="true"
                [appendTo]="'body'"
                [display]="'chip'"
                [maxSelectedLabels]="1"
                defaultLabel="All"
                styleClass="header-filter-select"
                [ngModel]="getValueFilter(column.key)"
                (ngModelChange)="setValueFilter(column.key, $event)"
              />

              <div *ngSwitchCase="'list'" class="list-header-filter">
                <p-multiselect
                  [options]="getFilterOptions(column.key)"
                  [filter]="true"
                  [showToggleAll]="true"
                  [appendTo]="'body'"
                  [display]="'chip'"
                  [maxSelectedLabels]="1"
                  defaultLabel="All"
                  styleClass="header-filter-select"
                  [ngModel]="getValueFilter(column.key)"
                  (ngModelChange)="setValueFilter(column.key, $event)"
                />
                <div class="mode-toggle">
                  <input
                    class="btn-check"
                    type="radio"
                    [id]="column.key + '-or'"
                    [name]="column.key + '-mode'"
                    value="or"
                    [ngModel]="getListMode(column.key)"
                    (ngModelChange)="setListMode(column.key, $event)"
                  />
                  <label class="btn btn-outline-secondary btn-xs" [for]="column.key + '-or'">OR</label>
                  <input
                    class="btn-check"
                    type="radio"
                    [id]="column.key + '-and'"
                    [name]="column.key + '-mode'"
                    value="and"
                    [ngModel]="getListMode(column.key)"
                    (ngModelChange)="setListMode(column.key, $event)"
                  />
                  <label class="btn btn-outline-secondary btn-xs" [for]="column.key + '-and'">AND</label>
                </div>
              </div>
            </ng-container>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-columns="columns">
        <tr>
          <td *ngFor="let column of columns">{{ row[column.key] }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length" class="text-center py-4">
            No rows match your current filters.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
